{% extends "base.html" %}

{% block body %}
    <div class="row">
          <div class="col-sm-12 col-md-6">
              <div class="panel panel-default">
                  <div class="panel-body">
                      <h3>Register for an Account</h3>

                      <form class="form-horizontal" role="form" action="" method="post" enctype="multipart/form-data">
                          {% csrf_token %}
                          {% include 'includes/_form_template.html' %}
                          <div class="form-group">
                              <div class="col-sm-offset-2 col-sm-10">
                                  <button type="submit" class="btn btn-success">Submit</button>
                              </div>
                          </div>
                      </form>
                  </div>
                  <div class="panel-footer">
                      Already have an account? <a href="{% url 'accounts:login' %}">Click here</a> to log in.
                  </div>
              </div>
          </div>
      </div>
{% endblock %}
