{% extends 'base.html' %}

{% block body %}
<div class="row">

    <div class="col-sm-12 col-md-7">
        <div class="panel panel-default">
            <div class="panel-body">
                <h3>Add a New Serie</h3>

                <form class="form-horizontal" role="form" action="" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {% include 'includes/_form_template.html' %}
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <button type="submit" class="btn btn-success">Submit</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="col-sm-12 col-md-5">
        <div class="panel panel-default">
            <div class="panel-body">

                <h3>Some Important Notes</h3>
                <ul>
                    <li>The album logo should be a square image.</li>
                    <li>Use common image formats such as .JPG, .GIF, or .PNG</li>
                    <li>the file size should be less than 2MB.</li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}
