{% extends 'base_two_side_serie.html' %}

{% block container %}marathons-container{% endblock %}

{% block panel %}
<div class="row">
    <div class="col-sm-12 col-md-6">
        <div class="panel panel-default">
            <div class="panel-body">
                <h3>All marathons</h3>
                {% if serie.marathon_set.all %}
                    <table class="table">
                        <thread>
                            <tr>
                                <th>Date</th>
                                <th>Place</th>
                                <th>From</th>
                                <th>valid</th>
                                <th>Action</th>
                            </tr>
                        </thread>
                        <tbody>
                        {% for marathon in serie.marathon_set.all %}
                            <tr>
                                <td>{{ marathon.date }}</td>
                                <td>{{ marathon.place }}</td>
                                <td>{{ marathon.add_by }}</td>
                                <td>
                                    <a href="{% url 'series:validate' pk=marathon.id %}" class="btn-validate"> <!-- {% if marathon.is_validate %}glyphicon-star{% endif %}-->
                                        <span class="glyphicon glyphicon-star {% if not marathon.is_validate %}glyphicon-star-empty{% endif %}"></span>
                                    </a>
                                </td>
                                <td>
                                    <form action="{% url 'series:delete_marathon' slug=serie.slug pk=marathon.id %}" method="post" style="display: inline;">
                                        {% csrf_token %}
                                        <button type="submit" class="btn btn-danger btn-xs">
                                            <span class="glyphicon glyphicon-remove"></span>&nbsp; Delete
                                        </button>
                                    </form>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                {% else %}
                  <br>
                  <a href="{% url 'series:create_marathon' slug=serie.slug %}">
                      <button type="button" class="btn btn-success">
                          <span class="glyphicon glyphicon-plus"></span>&nbsp; Add New Marathons
                      </button>
                  </a>
                 {% endif %}
            </div><!-- panel-body -->
        </div><!-- panel -->
    </div><!-- col -->
    <div class="col-sm-12 col-md-6">
        {% if serie.synop %}
            <div class="panel panel-default">
                <div class="panel-body">
                    <h3>Synopsis</h3>
                    <p>{{ serie.synop|linebreaksbr }}</p>
                </div><!-- panel-body -->
            </div><!-- panel -->
        {% endif %}
        <div class="panel panel-default">
            <div class="panel-body">
                <h3>All episodes</h3>
                <table class="table">
                    <thread>
                        <tr>
                            <th>Num</th>
                            <th>Title</th>
                            <th>Action</th>
                        </tr>
                    </thread>
                    <tbody>
                    {% for episode in serie.episode_set.all %}
                        <tr>
                            <td>{{ episode.num }}</td>
                            <td>{{ episode.title}}</td>
                            <!-- Update serie -->
                            <td>
                                <a href="{% url 'series:update_episode' slug=serie.slug slug2=episode.slug %}" class="btn btn-warning btn-sm" role="button"><span class="glyphicon glyphicon-edit"></span>&nbsp; Update</a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div><!-- panel-body -->
        </div><!-- panel -->
    </div><!-- col -->
</div><!-- row -->
{% endblock %}
