{% extends "base.html" %}

{% block body %}
<div class="row">
    {% if series %}
        {% for serie in series %}
            <div class="col-sm-4 col-lg-2">
                <div class="thumbnail">
                    <img src="{{ serie.thumb.url }}" class="img-responsive">
                    <div class="caption">
                        <h2>{{ serie.title }}</br>
                            <small>{{ serie.nb_eps_vu }} / {{ serie.nb_eps }} seen</small>
                        </h2>
                        <h4>Added by <em>{{ serie.add_by }}</em></h4>

                        <!-- View Details -->
                        <a href="{% url "series:detail" slug=serie.slug %}" class="btn btn-primary btn-sm" role="button">View Details</a>

                        <!-- Delete Serie -->
                        <form action="{% url "series:delete_serie" slug=serie.slug %}" method="post" style="display: inline">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-default btn-sm">
                                <span class="glyphicon glyphicon-trash"></span>
                            </button>
                        </form>

                    </div>
                </div>
            </div>
            {% cycle '' '' '' '' '' '<div class="clearfix visible-lg"></div>' %}
        {% endfor %}
    {% else %}
        <div class="col-sm-12">
            <br>
            <a href="{% url 'series:create_serie' %}">
                <button type="button" class="btn btn-success">
                    <span class="glyphicon glyphicon-plus"></span>&nbsp; Add an Serie
                </button>
            </a>
        </div>
    {% endif %}
</div>
{% endblock %}
