{% extends 'base.html' %}

{% block body %}
<div class="container-fluid marathons-container">

    <div class="row">
        <div class="col-sm-12">

            <div class="panel panel-default">
                <div class="panel-body">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Date</th>
                                <th>Place</th>
                                <th>From</th>
                                <th>valid</th>
                                <th>Serie</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for marathon in marathons %}
                                <tr>
                                    <td>{{ marathon.date }}</td>
                                    <td>{{ marathon.place }}</td>
                                    <td>{{ marathon.add_by }}</td>
                                    <td>
                                        <a href="{% url 'series:validate' pk=marathon.id %}" class="btn-validate"> <!-- {% if marathon.is_validate %}glyphicon-star{% endif %}-->
                                            <span class="glyphicon glyphicon-star {% if not marathon.is_validate %}glyphicon-star-empty{% endif %}"></span>
                                        </a>
                                    </td>
                                    <td>
                                        <a href="{% url 'series:detail' marathon.serie.slug %}">
                                            <img src="{{ marathon.serie.thumb.url }}" class="img-responsive" style="width: 20px; float: left; margin-right: 10px;" />
                                        </a>
                                        <a href="{% url 'series:detail' marathon.serie.slug %}">{{ marathon.serie.title }}</a>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div><!-- panel-body -->
            </div><!-- panel -->

        </div><!-- col -->
    </div><!-- row -->

</div><!-- container -->
{% endblock %}
