{% extends 'base_two_side_serie.html' %}

{% block right %}
    <h3>Update episode</h3>

    <form class="form-horizontal" role="form" action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {% include 'includes/_form_template.html' %}
        <div class="form=group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-success">Submit</button>
            </div>
        </div>
    </form>
{% endblock %}
