<nav class="navbar navbar-inverse">
    <div class="container-fluid">

        <!-- Header -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#topNavBar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{% url 'home'%}">Brorathon</a>
        </div><!-- navbar-header -->

        <!-- Items -->
        <div class="collapse navbar-collapse" id="topNavBar">
            <ul class="nav navbar-nav">
                <li class="active">
                    <a href="{% url 'home'%}"><span class="glyphicon glyphicon-film" aria-hidden="true"></span>&nbsp; Series</a>
                </li>
                <li><a href="{% url 'series:marathons' %}"><span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>&nbsp; Marathons</a></li>
            </ul>

            <ul class="nav navbar-nav navbar-right">
                {% if user.is_authenticated %}
                <li><a href="{% url 'series:create_serie' %}"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span>&nbsp; New Serie</a></li>
                <li><a href="{% url 'accounts:logout' %}"><span class="glyphicon glyphicon-off" aria-hidden="true"></span>&nbsp; Log out</a></li>
                {% else %}
                <li><a href="{% url 'accounts:login' %}"><span class="glyphicon glyphicon-log-in" aria-hidden="true"></span>&nbsp; Log in</a></li>
                <li><a href="{% url 'accounts:signup' %}"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span>&nbsp; Sign in</a></li>
                {% endif %}
            </ul>
        </div><!-- collapse -->

    </div><!-- container -->
</nav>
