{% extends 'base.html' %}

{% block body %}
    <div class="container-fluid {% block container %}{% endblock %}">
        <div class="row">
            <!-- Left Serie Info -->
            <div class="col-sm-4 col-md-3">
                <div class="panel panel-default">
                    <div class="panel-body">
                        {% if serie.thumb %}
                            <img src="{{ serie.thumb.url }}" class="img-responsive">
                        {% else %}
                            <h3>No image to display</h3>
                        {% endif %}
                        <h1>{{ serie.title }}
                            <small>{{ serie.nb_eps_vu }} / {{ serie.nb_eps }} seen</small>
                        </h1>
                        <h3>Added by <em>{{ serie.add_by }}</em></h3>
                        <!-- Update serie -->
                        <a href="{% url 'series:update' slug=serie.slug %}" class="btn btn-warning btn-sm" role="button"><span class="glyphicon glyphicon-edit"></span>&nbsp; Update</a>
                    </div><!-- panel body -->
                </div><!-- panel -->
            </div><!-- col -->

            <!-- Right Marathon Info -->
            <div class="col-sm-8 col-md-9">
              
                <ul class="nav nav-pills" style="margin-bottom: 10px">
                    <li role="presentation" class="active"><a href="{% url 'series:detail' slug=serie.slug %}">View All</a></li>
                    <li role="presentation"><a href="{% url 'series:create_marathon' slug=serie.slug %}">Add New Marathons</a></li>
                </ul>
                {% block panel %}
                <div class="panel panel-default">
                    <div class="panel-body">
                        {% block right %}
                        {% endblock %}
                    </div><!-- panel-body -->
                </div><!-- panel -->
                {% endblock %}
            </div><!-- col -->
        </div><!-- row -->
    </div><!-- container-fluid -->

{% endblock %}
